@use "./common.scss" as t;

.footer {
  text-align: center;
  width: 100%;
  height: 150px;

  @include t.flex-column;
  justify-content: flex-end;
  align-items: center;

  &__github {
    font-size: 1.2rem;
    color: t.$highlight;
  }

  &__copyright {
    font-size: 0.8rem;
    color: t.$gray;
  }
}
