.footer {
  text-align: center;
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__github {
    font-size: 1.2rem;
    color: hotpink;
  }

  &__copyright {
    color: rgb(184, 184, 184);
    font-size: 0.8rem;
  }
}
